<div class="row">
	<div class="col-sm-12">
		<h1>Je suis une handlebar</h1>
		<h2>Je ne sers qu'a une seule chose: illustrer les templates</h2>
		<h5>Ma vie va ainsi bientot s'achever</h5>
		<h5>Mais avant tout: <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">Cliquez</a></h5>
	</div>
</div>