<div class="jumbotron">
	<p>Bienvenue sur l'application d'évaluation des apprentis pilote.</p>
	<p><a href="#Apprenants">Commencez à évaluer un apprenant.</a></p>
	<p>Vous pouvez également modifier les jeux d'évaluation et leurs sous éléments.</p>
	<p><i>"Fly safe !"</i> Scott Manley</p>
</div>