  <h1>En construction</h1>

  <table class="table">
  <thead>
    <tr>
      <th>Num</th>
      <th>Mission</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<h2>Score total: </h2>

<a href="">
  <button id="accueil" class="btn btn-default">Retour à l'accueil</button>
</a>