  <h3>Bilan de la mission</h3>

  <table class="table">
  <thead>
    <tr>
      <th>Num</th>
      <th>Objectif</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<h4>Total de la mission: </h4>

<button id="missionSuivante" class="btn btn-default">Mission suivante</button>