  <form id="formChoixRegle" method="post">
  <table class="table">
  <thead>
    <tr>
      <th>Num</th>
      <th>Objectif</th>
      <th>Actions</th>
      <th>Règles</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
  <button id="submitButton" class="btn btn-default">Valider</button>
  </form>