  <form id="formPutRegle" method="post">
  <div class="form-group">
    <label for="libRegle">Libellé</label>
    <input type="text" class="form-control" id="libRegle" placeholder="Entrez un nom" value="{{regle.libregle}}" required>
  </div>
  <div class="form-group">
    <label for="scoreAction">Score</label>
    <input type="number" class="form-control" id="scoreAction" placeholder="Entrez un score" value="{{regle.scoremin}}" required>
  </div>  
  <button class="btn btn-default">Valider</button>
  </form>