<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Libellé Règle</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{regle.attributes.numregle}}</td>
				<td>{{regle.attributes.libregle}}</td>
				<td>{{regle.attributes.scoremin}}</td>
			</tr>
	</tbody>
</table>