<table class="table">
	<thead>
		<tr>
			<th>Numéro du jeu</th>
			<th>Nom du jeu</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{jeu.attributes.numjeu}}</td>
				<td>{{jeu.attributes.libellejeu}}</td>
			</tr>
	</tbody>
</table>