  <form id="formPutJeu" method="post">
  <div class="form-group">
    <label for="libellejeu">Libellé</label>
    <input type="text" class="form-control" id="libellejeu" placeholder="Entrez un nom" value="{{jeu.libellejeu}}" required>
  </div>
  <button class="btn btn-default">Valider</button>
  </form>