<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>ID Action Requise</th>
			<th>Libellé Action</th>
			<th>Score min</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{action.attributes.numaction}}</td>
				<td>{{action.attributes.actNumaction}}</td>
				<td>{{action.attributes.libaction}}</td>
				<td>{{action.attributes.scoremin}}</td>
			</tr>
	</tbody>
</table>