  <form id="formAjoutIndicateur">
  <div class="form-group">
    <label for="actionIndicateur">Action associé</label>
    <input type="number" class="form-control" id="actionIndicateur" placeholder="Entrez le numéro de l'action associé" required>
  </div>  
  <div class="form-group">
    <label for="libIndicateur">Libellé</label>
    <input type="text" class="form-control" id="libIndicateur" placeholder="Entrez un libellé" required>
  </div>
  <button id="submitButton" class="btn btn-default">Valider</button>
  </form>