  <form id="formAjoutIndicateur" method="post">
  <div class="form-group">
    <label for="actionIndicateur">Action associé</label>
    <select>
      {{#each actions}}

        <option value="{{attributes.numaction}}">{{attributes.libaction}}</option>

      {{/each}}

    </select>
  </div>  
  <div class="form-group">
    <label for="libIndicateur">Libellé</label>
    <input type="text" class="form-control" id="libIndicateur" placeholder="Entrez un libellé" required>
  </div>
  <div class="form-group">
    <label for="poidsIndicateur">Poids</label>
    <input type="text" class="form-control" id="poidsIndicateur" placeholder="Entrez un poids" required>
  </div>
  <button id="submitButton" class="btn btn-default">Valider</button>
  </form>