<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Action associée</th>
			<th>Libellé</th>
			<th>Poids</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{indicateur.attributes.numindic}}</td>
				<td>{{indicateur.attributes.numaction}}</td>
				<td>{{indicateur.attributes.libindic}}</td>
				<td>{{indicateur.attributes.poids}}</td>
			</tr>
	</tbody>
</table>