  <form id="formPutMission" method="post">
  <div class="form-group">
  <label for="libmission">Libellé</label>
    <input type="text" class="form-control" id="libmission" placeholder="Entrez un nom" value="{{mission.libmission}}" required>
  </div>
  <button class="btn btn-default">Valider</button>
  </form>