<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Nom</th>
			<th>Prenom</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{apprenant.attributes.numapprenant}}</td>
				<td>{{apprenant.attributes.nomapprenant}}</td>
				<td>{{apprenant.attributes.prenomapprenant}}</td>
			</tr>
	</tbody>
</table>