<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Nom</th>
			<th>Prenom</th>
		</tr>
	</thead>
	<tbody>
		{{#each apprentis}}
			<tr>
				<td>{{attributes.numapprenant}}</td>
				<td>{{attributes.nomapprenant}}</td>
				<td>{{attributes.prenomapprenant}}</td>
		{{/each}}
	</tbody>
</table>