<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Libellé</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{objectif.numobjectif}}</td>
				<td>{{objectif.libobjectif}}</td>
				<td>
					<table class="table" id="tabAction">
						<tbody>
						{{#each actions}}
							<tr>
								<td>{{attributes.numaction}} {{attributes.libaction}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				<td>
			</tr>
	</tbody>
</table>