<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Libellé</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{objectif.attributes.numobjectif}}</td>
				<td>{{objectif.attributes.libobjectif}}</td>
			</tr>
	</tbody>
</table>