 <form id="formPutObjectif" method="post">
  <!-- <div class="form-group">
   <label for="actNumobjectif">Objectif requise</label>
    <select  class="form-control" id="actNumobjectif">
      <option value=null> Aucun </option>
      {{#each objectifs}}
        <option value={{numobjectif}}>{{numobjectif}} {{libobjectif}}</option>
      {{/each}}
    </select>
  </div> -->
  <div class="form-group">
    <label for="libobjectif">libobjectif</label>
    <input type="text" class="form-control" id="libobjectif" placeholder="Entrez un libellé" value="{{objectif.libobjectif}}" required>
  </div>
  <button class="btn btn-default">Valider</button>
</form>